{% extends 'AppBlog/index.html' %}
{% load static %}
<title>
    {% block title %}Nueva Categoria{% endblock %}
</title>

{% block cuerpo %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Nueva Categoria</h1>
    <form method="post" class="border p-4 bg-light rounded shadow">
        {% csrf_token %}
        {{ categoria_form.as_p }}
        <div class="text-center">
            <button type="submit" class="btn btn-primary mt-3">Crear</button>
        </div>
    </form>
</div>
{% endblock %}
